body {
  font-family: arial, sans-serif;
  font-size: 15px;
  color: #777;
}
#slider {
  background-color: #eaeaea;
  background: url('../img/panoramic.jpg') no-repeat center center fixed;
  background-size: cover;
  height: 580px;
}
